/*!
 * Start Bootstrap - Shop Homepage (http://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */
html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 54px;
	height: 100%;
	padding-bottom: 60px;
}

@media ( min-width : 992px) {
	body {
		padding-top: 56px;
	}
}

/*
customized style
*/
.wrapper {
	min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.content {
	padding-bottom: 60px; /* height of the footer */
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
}

.card {
	margin-top: 20px;
}

#dateRangeForm .form-control-feedback {
    top: 0;
    right: -15px;
}

.adminDataTableImg {
	height : 30px;
	width: 30px;
}

.dataTableImg {
	height : 30px;
	width: 30px;
}

/*Toggle Switch code*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#btn-ctg {
	margin-top: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}